* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
  }
  
  #sidebar_triggers {
    position:absolute;
    top:0px;
    right:0px;
    width:200px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
  }
  #sidebar_triggers.active {
    left:-200px;
  }
  #sidebar_triggers .toggle-btn {
    position:absolute;
    left:220px;
    top:10px;
  }
  #sidebar_triggers .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;
    cursor:pointer;
  }
  #sidebar_triggers div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #sidebar_triggers div.list div.item a{
    color:#fcfcfc;
    text-decoration: none;
  }





  
  #sidebar_actions {
    position:absolute;
    top:0px;
    left:0px;
    width:200px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
  }
  #sidebar_actions.active {
    left:-200px;
  }
  #sidebar_actions .toggle-btn {
    position:absolute;
    left:220px;
    top:10px;
  }
  #sidebar_actions .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;
    cursor:pointer;
  }
  #sidebar_actions div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #sidebar_actions div.list div.item a{
    color:#fcfcfc;
    text-decoration: none;
  }