/* import css*/
@import "./styles.css";


body {
    color: black !important;
}

a {
    font-family: Blvd Pro Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    color: white;
}

p {
    margin-bottom: 5px;
}

a:hover {
    color: rgb(214, 214, 214);
}

.right {
    margin-left: 250px;
}

@media(max-width: 500px) {
    #sidebar {
        display: none;
    }

    .right {
        margin-left: 0;
    }

}