<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Edit Workflow</title>
    
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
        <link rel="stylesheet" type= "text/css"  href="{{ url_for('static', filename='css/new.css') }}">
        <script src="https://cdn.tiny.cloud/1/si3attca1u3kry5evhyi2g9rsyjit7zrd1cuz0pdlgllan7x/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  
        
      <script>


// for client cancellation
tinymce.init({
    selector: '#on_client_cancel_email',
    plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
});
tinymce.init({
    selector: '#on_client_cancel_sms',
    plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
});
// on no show
tinymce.init({
    selector: '#on_client_noshow_sms',
    plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
});
tinymce.init({
    selector: '#on_client_noshow_email',
    plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
});
// on client late
tinymce.init({
    selector: '#on_client_late_email',
    plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
});
tinymce.init({
    selector: '#on_client_late_sms',
    plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
});

      </script>
</head>

<body class="bg-gradient-primary">
    <div class="container ">
        <div class="p-5 bg-gradient-primary" id="filled ">
            <h4 class="text-middle text-light my-4">Workflow Builder</h4>
            <form id="workflow-form" name="workflow-form"  method="post"  class="mt-5">
                <div class="input-group mt-4 mb-3" style="max-width: 1176px;">
                    <!-- Input workflow name -->
                    <span class="input-group-text" id="basic-addon1">Name</span>
                    <input style="max-width: 999px;" type="text" class="form-control" placeholder="{{ name }}" value="{{ name }}"
                        aria-label="Username" name="create_name" aria-describedby="basic-addon1" id="create_name" readonly>
                </div>
                <div class="input-group mb-3" style="max-width: 1176px;">
                    <!-- You can also set this input as radio buttons -->
                    <!-- <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input"> -->
                    <select style="max-width: 987px;" class="form-select" name="create_action"  value="{{ keyVal }}">
                        <option value="{{ keyVal }}">{{ option }}</option>
                    </select>
                    <label class="input-group-text" for="create_action" name="create_action" >Actions</label>
                </div>

                <p class="text-light mt-3">On client Cancellation</p>
                <div class="input-group mt-2">
                    <span class="input-group-text pe-3" style="width:143px ;">Email Template</span>
                    <textarea class="form-control" form="workflow-form" aria-label="With textarea"
                        id="on_client_cancel_email" name="on_client_cancel_email"></textarea>
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text pe-3" style="width:143px ;">SMS Template</span>
                    <textarea class="form-control" form="workflow-form" aria-label="With textarea"
                        id="on_client_cancel_sms"  name="on_client_cancel_sms"></textarea>
                </div>
                <!-- on no show -->
                <p class="text-light mt-3">On no show</p>
                <div class="input-group mt-2">
                    <span class="input-group-text pe-3" style="width:143px ;">Email Template</span>
                    <textarea class="form-control" form="workflow-form" aria-label="With textarea"
                        id="on_client_noshow_email" name="on_client_noshow_email"></textarea>
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text pe-3" style="width:143px ;">SMS Template</span>
                    <textarea class="form-control" form="workflow-form" aria-label="With textarea"
                        id="on_client_noshow_sms" name="on_client_noshow_sms"></textarea>
                </div>
                <!-- on client late -->
                <p class="text-light mt-3">On client late</p>
                <div class="input-group mt-2">
                    <span class="input-group-text pe-3" style="width:143px ;">Email Template</span>
                    <textarea class="form-control" form="workflow-form" aria-label="With textarea"
                        id="on_client_late_email"  name="on_client_late_email"></textarea>
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text pe-3" style="width:143px ;">SMS Template</span>
                    <textarea class="form-control" form="workflow-form" aria-label="With textarea"
                        id="on_client_late_sms" name="on_client_late_sms"></textarea>
                </div>
                <div class="d-flex mt-3">
                    <button class="btn btn-primary text-light me-2 " id="btn-draft" onclick="return CreateDraft();">
                        Save as Draft
                    </button>
                    <button class="btn btn-primary text-light" id="btn-publish" onclick="return CreatePublished();">
                        Publish
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script  src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/theme.js') }}"></script>

    <script type=text/javascript>
        
        const textarea = document.querySelector('#on_client_cancel_email')
        textarea.innerHTML = {{ emailcancel|tojson }}

        const textarea2 = document.querySelector('#on_client_cancel_sms')
        textarea2.innerHTML = {{ smscancel|tojson }}

        const textarea3 = document.querySelector('#on_client_noshow_email')
        textarea3.innerHTML = {{ emailnoshow|tojson }}

        const textarea4 = document.querySelector('#on_client_noshow_sms')
        textarea4.innerHTML = {{ smsnoshow|tojson }}


        const textarea5 = document.querySelector('#on_client_late_email')
        textarea5.innerHTML = {{ emaillate|tojson }}

        const textarea6 = document.querySelector('#on_client_late_sms')
        textarea6.innerHTML = {{ smslate|tojson }}



        function CreatePublished() {
          var workflowName = document.getElementById("create_name").value;
          document.getElementById('workflow-form').action = `/create/publish/${workflowName}`;
          //document.getElementById('workflow-form').method  = "post";    
        }

        function CreateDraft() {
          var workflowName = document.getElementById("create_name").value;
          document.getElementById('workflow-form').action = `/create/draft/${workflowName}`;
          //document.getElementById('workflow-form').method  = "post";    
        }

        </script>

</body>

</html>